@charset "UTF-8";
:root {
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
}

* {
	
	font-family: var(--bs-body-font-family);
	font-weight: var(--bs-body-font-weight);
	line-height: var(--bs-body-line-height);
  }
.header{
  margin-top:-20px;
  margin-left: -20px;
  margin-right:-20px;
 
}

.text{

color: black;
}
#here{
font-weight: bold;
text-decoration: underline;
}
.menu {
  display: flex;
  align-items: center;
  padding-left: 50px;
  height: 120px;
  font-size: 20px;
  background-image: linear-gradient(to bottom right, #2193b0,#6dd5ed, #21ABCD);
}

.menu li a{
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.menu li {
  list-style-type: none;
  margin-right: 50px;

}