@charset "UTF-8";
:root {

  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
}

* {
	
	font-family: var(--bs-body-font-family);
	font-weight: var(--bs-body-font-weight);
	line-height: var(--bs-body-line-height);
	
  }
  
.header{
	background-image: linear-gradient(to bottom right, #2193b0,#6dd5ed, #21ABCD);
	margin-top:-40px;
	margin-left: -20px;
	margin-right:-20px;
	width:100%;
  }
  
  .text{
	
	color: black;
  }
  
  #here{
	font-weight: bold;
	text-decoration: underline;
	}
	.menu {
		width:300%;
	  display: flex;
	  align-items: center;
	  padding-left: 50px;
	  height: 120px;
	  font-size: 20px;
	  background-image: linear-gradient(to bottom right, #2193b0,#6dd5ed, #21ABCD);
	}
	
	
	.menu li a{
	  text-transform: uppercase;
	  text-decoration: none;
	  color: black;
	 
	}
	
	.menu li {
	  list-style-type: none;
	  margin-right: 50px;
	  
	}
	
  
  #container{
	width: 100%;
	height:500px;
  }
  
  body {
	  font-family: Roboto, Verdana, Arial, Helvetica, sans-serif;
	  color: #f9fcfc;
	  background-image: linear-gradient(to bottom right, #2193b0,#6dd5ed, #21ABCD);
	  background-repeat: no-repeat;
	  font-size: 12px;
	  height: auto;
	  padding: 10px 0;
	  margin: 0 auto;
	  
	  background-attachment: fixed;
	  background-size: 100%;
  }
  :root {
	  --text: #9e9e9e;
	  --btra: #2a2a2a66;
	  --btra2: #2a2a2acc;
	  --btra3: #ffffff1a;
	  --coral: #c8bdf7;
	  --coraltra: #6f393c6b;
	  --amar: #a5c3d6;
	  --btra2: #ffffff1a;
  }
  
  .topFive{
	  color: black;
  }
  
  a {
	  color: var(--amar);
	  text-decoration: none;
  }
  a:hover,
  a:link:hover {
	  color: #b31596;
  }
  #guia {
	  margin: 0 auto;
	  max-width: 900px;
	  display: grid;
	  grid-template-columns: fit-content(250px) 1fr;
	  line-height: 18px;
  }
  #guia .navi {
	  padding: 50px;
	  align-items: top;
	  background: var(--btra);
	  letter-spacing: 1px;
  }
  #guia h3 {
	  font-size: 15px;
	  
	  font-weight: lighter;
	  text-transform: uppercase;
	  letter-spacing: 3px;
	  color: var(--coral);
	  counter-increment: h3;
  }
  #guia h3:before {
	  content: "0" counter(h3) ". ";
	  text-align: right;
	  padding-top: 1px;
	  letter-spacing: 2px;
	  font: 700 7px/20px;
	  color: #fff;
  }
  #guia .navi span a {
	  display: block;
	  font: 500 10px;
	  margin-bottom: 10px;
	  letter-spacing: 1.5px;
	  grid-template-columns: 25px 1fr;
	  grid-gap: 15px;
	  counter-increment: guia;
  }
  #guia .navi span a:before {
	  content: "00" counter(guia) ". ";
	  text-align: right;
	  padding-top: 1px;
	  letter-spacing: 2px;
	  font: 700 7px/20px;
	  color: #fff;
  }
  
  #guia .page {
	  border-left: 1px solid var(--coraltra);
	  padding: 50px 75px 75px;
	  background: var(--btra);
	  font-family: roboto;
	  font-size: 13px;
	  word-spacing: 2px;
	  text-align: justify;
  }
  
  #guia .page h1 {
	
	  font-size: 18px;
	  font-weight: bold;
	  text-transform: uppercase;
	  color: var(--coral);
	  border-bottom: 1px solid var(--btra2);
	  padding-bottom: 4px;
	  letter-spacing: 5px;
	  text-align: center;
  }
  .conteni > div {
	  display: none;
  }
  .botoniac {
	  color: #b31596 !important;
	  font-weight: bolder !important;
	  transition: ease 0.6s !important;
  }