
.header{
  margin-top:-20px;
  margin-left: -20px;
  margin-right:-20px;
}

.map{
  margin-top: 200px;
}

.text{
  
  color: black;
}

#here{
  font-weight: bold;
  text-decoration: underline;
  }
  .menu {
    display: flex;
    align-items: center;
    padding-left: 50px;
    height: 120px;
    font-size: 20px;
    background-image: linear-gradient(to bottom right, #2193b0,#6dd5ed, #21ABCD);
  }
  
  
  .menu li a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
   
  }
  
  .menu li {
    list-style-type: none;
    margin-right: 50px;
    
  }
  

#container{
  width: 110%;
  height:500px;
}

body {
	font-family: Roboto, Verdana, Arial, Helvetica, sans-serif;
	color: #f9fcfc;
	background-image: linear-gradient(to bottom right, #2193b0,#6dd5ed, #21ABCD);
	background-repeat: no-repeat;
	font-size: 12px;
	height: auto;
	padding: 10px 0;
	margin: 0 auto;
	
	background-attachment: fixed;
	background-size: 100%;
}
:root {
	--text: #9e9e9e;
	--btra: #2a2a2a66;
	--btra2: #2a2a2acc;
	--btra3: #ffffff1a;
	--coral: #c8bdf7;
	--coraltra: #6f393c6b;
	--amar: #a5c3d6;
	--btra2: #ffffff1a;
}

.topFive{
	color: black;
}

a {
	color: var(--amar);
	text-decoration: none;
}
a:hover,
a:link:hover {
	color: #b31596;
}
#guia {
	margin: 0 auto;
	max-width: 900px;
	display: grid;
	grid-template-columns: fit-content(250px) 1fr;
	line-height: 18px;
}
#guia .navi {
	padding: 50px;
	align-items: top;
	background: var(--btra);
	letter-spacing: 1px;
}
#guia h3 {
	font-size: 15px;
	font-family: Roboto;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: var(--coral);
	counter-increment: h3;
}
#guia h3:before {
	content: "0" counter(h3) ". ";
	text-align: right;
	padding-top: 1px;
	letter-spacing: 2px;
	font: 700 7px/20px;
	color: #fff;
}
#guia .navi span a {
	display: block;
	font: 500 10px;
	margin-bottom: 10px;
	letter-spacing: 1.5px;
	grid-template-columns: 25px 1fr;
	grid-gap: 15px;
	counter-increment: guia;
}
#guia .navi span a:before {
	content: "00" counter(guia) ". ";
	text-align: right;
	padding-top: 1px;
	letter-spacing: 2px;
	font: 700 7px/20px;
	color: #fff;
}

#guia .page {
	border-left: 1px solid var(--coraltra);
	padding: 50px 75px 75px;
	background: var(--btra);
	font-family: roboto;
	font-size: 13px;
	word-spacing: 2px;
	text-align: justify;
}

#guia .page h1 {
	font-family: roboto slab;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	color: var(--coral);
	border-bottom: 1px solid var(--btra2);
	padding-bottom: 4px;
	letter-spacing: 5px;
	text-align: center;
}
#guia .page b,
#guia .page strong {
	font-weight: bold;
	color: var(--coral);
	font-family: roboto condensed;
	letter-spacing: 1px;
}
.conteni > div {
	display: none;
}
.botoniac {
    color: #b31596 !important;
    font-weight: bolder !important;
    transition: ease 0.6s !important;
}
#guia h2 {
	color: var(--amar);
	font-size: 17px;
	text-transform: uppercase;
	font-family: roboto condensed;
	font-weight: lighter;
	text-align: center;
}
.conteni i:before {
	font-weight: bolder;
	color: var(--amar);
	font-size: 11px;
}
.conteni e {
	color: var(--amar);
	font-size: 14px;
	padding: 3px;
}
a.minic {
  
    cursor: pointer;
    display: inline-block;
}