*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:  #fff;
    
}

.text{
  
  color: black;
}
#here{
  font-weight: bold;
  text-decoration: underline;
}
.menu {
    display: flex;
    align-items: center;
    padding-left: 50px;
    height: 120px;
    font-size: 20px;
    background-color:  #b8d9fa;

}

.menu li a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    background-color:  #b8d9fa
}

.menu li {
    list-style-type: none;
    margin-right: 50px;
    background-color:  #b8d9fa;
}