*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:  #fff;
    
}

.text{
  
  color: black;
}
#here{
  font-weight: bold;
  text-decoration: underline;
}
.menu {
    display: flex;
    align-items: center;
    padding-left: 50px;
    height: 120px;
    font-size: 20px;
    background-color:  #b8d9fa;

}

.menu li a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    background-color:  #b8d9fa
}

.menu li {
    list-style-type: none;
    margin-right: 50px;
    background-color:  #b8d9fa;
}

.box {
    position: absolute;
    margin: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .box select {
    background-color: #0563af;
    color: rgb(40, 4, 86);
    padding: 12px;
    width: 250px;
    border: none;
    font-size: 20px;
    box-shadow: 10 5px 105px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
  
  .box::before {
    content: "\f13a";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: #0563af;
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  
  .box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .box select option {
    padding: 30px;
  }